@font-face {
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 300;
    src: local('Iceland'), local('Iceland-Regular'), url(http://themes.googleusercontent.com/static/fonts/iceland/v3/F6LYTZLHrG9BNYXRjU7RSw.woff) format('woff');
}


@font-face {
    font-family: 'PressStart';
    font-style: normal;
    font-weight: 400;
    src: local('Press Start 2P'), local('PressStart2P-Regular'), url(http://themes.googleusercontent.com/static/fonts/pressstart2p/v2/8Lg6LX8-ntOHUQnvQ0E7o3dD2UuwsmbX3BOp4SL_VwM.woff) format('woff');
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 62.50%;
    background-image: url("../IMAGES/Background.jpg");
    background-size: 20%;
    padding: 2%;
}

.upload_container{
    height: 250px;
    width: 500px;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 20px;
    top: 0;

}
.upload_container h2{
    font-family: Iceland;
    font-size: 1.8rem;
    text-align: center;
    -webkit-animation: neon9 2s ease-in-out infinite alternate;
      margin-top: 20px;
}
.upload_container input{

    margin-top: 20px;
    margin-left: 20px;

}

@-webkit-keyframes neon9 {
    from {
        text-shadow: 0 0 1px #fff,
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 5px ,
        0 0 8px rgba(20, 255, 129, 0.91),
        0 0 10px rgba(20, 255, 129, 0.91),
        0 0 25px rgba(20, 255, 129, 0.91),
        0 0 30px rgba(20, 255, 129, 0.91);
    }
    to {
        text-shadow: 0 0 0px #fff,
        0 0 1px #fff,
        0 0 5px #fff,
        0 0 10px #fff95b,
        0 0 12px #fff95b,
        0 0 15px #fff95b,
        0 0 20px #fff95b,
        0 0 30px #fff95b;
    }
}
