
@font-face {
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 300;
    src: local('Iceland'), local('Iceland-Regular'), url(http://themes.googleusercontent.com/static/fonts/iceland/v3/F6LYTZLHrG9BNYXRjU7RSw.woff) format('woff');
}


@font-face {
    font-family: 'PressStart';
    font-style: normal;
    font-weight: 400;
    src: local('Press Start 2P'), local('PressStart2P-Regular'), url(http://themes.googleusercontent.com/static/fonts/pressstart2p/v2/8Lg6LX8-ntOHUQnvQ0E7o3dD2UuwsmbX3BOp4SL_VwM.woff) format('woff');
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 62.50%;
    background-image: url("../IMAGES/Background.jpg");
    background-size: 20%;
    padding: 2%;
}
.team {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 300px;


}
.team .person{
    width: 200px;
    display: inline;
    float: left;
    margin-left: 30px;
    height: 280px;
}
.role p{
    margin-top: 10px;
    color: skyblue;
    font-size: 2rem;

}

.role .span{
    font-size: 1.8rem;
    margin-left: 5px;
    font-family: Iceland;


}
.role span{
    font-size: 1.1rem;
    margin-left: 5px;
    font-family: Iceland;
    color: lemonchiffon;
}

.role{
    width: 180px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;

}
.person_image{
    margin: 0 auto;
    margin-top: 20px;
    width: 180px;
    height: 0;
    -webkit-transition: height 0.5s; /* For Safari 3.1 to 6.0 */
    transition: height 1s;
    -webkit-animation: neon7 0.8888s ease-in-out infinite alternate;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
}

.role:hover .person_image{
    height: 200px;
    width: 180px;
    cursor: pointer;
    border: 1px solid #ffffff;
    border-radius: 10px 10px 10px 10px;
    -webkit-animation: neon7 1.5s ease-in-out infinite alternate;

}
.person_image img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;

}

@-webkit-keyframes neon7 {
    from {
        box-shadow: 0 0 1px #fff,
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 5px rgba(20, 255, 129, 0.91),
        0 0 8px rgba(20, 255, 129, 0.91),
        0 0 10px rgba(20, 255, 129, 0.91),
        0 0 25px rgba(20, 255, 129, 0.91),
        0 0 30px rgba(20, 255, 129, 0.91);
    }
    to {
        box-shadow: 0 0 0 #fff,
        0 0 1px #fff,
        0 0 5px #fff,
        0 0 10px #235dff,
        0 0 12px #235dff,
        0 0 15px #235dff,
        0 0 20px #235dff,
        0 0 30px #235dff;
    }
}

@-webkit-keyframes neon8 {
    from {
        text-shadow: 0 0 1px #fff,
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 5px ,
        0 0 8px rgba(20, 255, 129, 0.91),
        0 0 10px rgba(20, 255, 129, 0.91),
        0 0 25px rgba(20, 255, 129, 0.91),
        0 0 30px rgba(20, 255, 129, 0.91);
    }
    to {
        text-shadow: 0 0 0px #fff,
        0 0 1px #fff,
        0 0 5px #fff,
        0 0 10px #fff95b,
        0 0 12px #fff95b,
        0 0 15px #fff95b,
        0 0 20px #fff95b,
        0 0 30px #fff95b;
    }
}


